<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 800px;
        }
    </style>
</head>
<body>
<!-- section Start -->
<div class="container">

    <div class="py-5 text-center">
        <h2>상품 단일 조회</h2>
    </div>

    <h1 th:if="${param.save}" th:text="'상품 저장이 완료되었습니다.'"></h1>

    <div>
        <label for="productId">상품 ID</label>
        <input type="text" id="productId" name="productId" class="form-control form-control-sm" value="1" th:value="${product.id}" disabled>
    </div>
    <div>
        <label for="name">상품명</label>
        <input type="text" id="name" name="name" class="form-control form-control-sm" value="상품이름" th:value="${product.name}" disabled>
    </div>
    <div>
        <label for="price">가격</label>
        <input type="text" id="price" name="price" class="form-control form-control-sm" value="1" th:value="${product.price}" disabled>
    </div>
    <div>
        <label for="quantity">수량</label>
        <input type="text" id="quantity" name="quantity" class="form-control form-control-sm" value="1" th:value="${product.quantity}" disabled>
    </div>

    <hr class="my-4">

    <div>중고 여부</div>
    <div>
        <div class="form-check">
            <input type="checkbox" th:field="${product.isUsed}" class="form-check-input" />
            <label for="isUsed" class="form-check-label">중고</label>
        </div>
    </div>

    <div>색상</div>
    <div th:each="color : ${colors}" class="form-check form-check-inline">
        <input type="checkbox" th:field="${product.colors}" th:value="${color.key}" class="form-check-input" disabled>
        <label th:for="${#ids.prev('colors')}" th:text="${color.value}" class="form-check-label"></label>
    </div>

    <div>상품 종류</div>
    <div th:each="type : ${productTypes}" class="form-check form-check-inline">
        <input type="radio" th:field="${product.productType}" th:value="${type.name()}" class="form-check-input" disabled>
        <label th:for="${#ids.prev('productType')}" th:text="${type.category}" class="form-check-label"></label>
    </div>

    <div>배송 방식</div>
    <select th:field="${product.delivery}" class="form-select" disabled>
        <option value="">배송 방식</option>
        <option th:each="delivery : ${deliveries}" th:value="${delivery.code}" th:text="${delivery.name}"></option>
    </select>

    <div class="row">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-dark"
                    onclick="location.href='updateProductForm.html'"
                    th:onclick="|location.href='@{/products/{productId}/update(productId=${product.id})}'|"
                    type="button">상품 수정</button>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-secondary"
                    onclick="location.href='productList.html'"
                    th:onclick="|location.href='@{/products}'|"
                    type="button">상품 목록</button>
        </div>
    </div>

</div>
<!-- section END -->
</body>
</html>